#spells,
#liturgical-chants,
.adding-spells,
.adding-liturgical-chants {
  li {
    .values {
      width: 252px;
    }

    &.no-increase .values {
      width: 284px;

      .fill {
        margin-right: 10px;
      }
    }

    .fill {
      background-color: var(--separator-color-20);

      &:first-child {
        margin-right: 12px;
      }

      &:nth-child(4) {
        margin-right: 8px;
      }
    }
  }
}

.adding-spells,
.adding-liturgical-chants {
  .slidein li .values {
    width: 208px;
  }
}
