.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &.grid--small {
    grid-gap: 10px;
  }

  &.grid--medium {
    grid-gap: 16px;
  }

  &.grid--large {
    grid-gap: 24px;
  }

  > :not(.grid-item) {
    grid-column-end: span 6;
  }
}

.grid-item {
  &[data-grid="1/1"] {
    grid-column-end: span 6;
  }

  &[data-grid="1/2"] {
    grid-column-end: span 3;
  }

  &[data-grid="1/3"] {
    grid-column-end: span 2;
  }

  &[data-grid="2/3"] {
    grid-column-end: span 4;
  }
}
