h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-align: left;
	text-transform: none;
	padding: 0;
	color: $color1;
	font: bold 18px/28px Alegreya;
	margin: 20px 0 0;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0 !important;
	}
}

h2 {
	text-transform: uppercase;
}

h4 {
	font-size: bold 14px/22px Alegreya;
	color: $color2;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}
