@page {
	size: 210mm 297mm;
	margin: 0;
}

@media only print {
	html, body, #bodywrapper, #body {
		background: none;
	}

	html, body, #bodywrapper, #body, .page {
		overflow: auto;
		@include size(auto);
	}

	#body, section {
		background: none;
	}

	#body {
		display: block;
	}

	.titlebar, .subtabs {
		display: none;
	}

	section {
		padding-top: 0;
		display: block;
	}

	.page {
		padding-top: 0;
		flex: unset;
		display: block;

		.options {
			display: none;
		}
	}

	.scroll-sheet-wrapper.scroll.gm-scrollbar-container {
		overflow: auto;
		flex: unset;

		.gm-scroll-view {
			overflow: auto;
			height: auto !important;
			width: auto !important;
		}

		.gm-scrollbar {
			display: none;
		}
	}

	.scroll-inner {
		padding: 0 !important;

		.sheet {
			margin-top: 0 !important;
			height: 296mm !important;

			&:not(:last-child) {
				page-break-after: always;
			}

			> .header {
				.attributes {
					> .attr {
						> .value {
							border-width: calc(0.5mm - 0.57pt/2) !important;

							> div {
								border-width: 0.57pt !important;
								position: relative;

								> div {
									@include size(100%);
								}
							}
						}
					}
				}
			}

			&.main {
				> .upper {
					> .ap {
						> div {
							span {
								&:first-child {
									// border-width: $border-1px !important;
								}
							}
						}
					}

					> .portrait {
						.avatar {
							// border-width: $border-1px !important;
						}
					}
				}

				> .lower {
					> .calculated {
						> div {
							> .values {
								> div {
									// border-width: $border-1px !important;

									> div {
										width: calc(1.2mm - 0.57pt);
										height: calc(1.2mm - 0.57pt);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
