#skills-sheet {
	> .textbox {
		flex-wrap: wrap;

		h3 {
			margin-bottom: 4mm;
		}
	}

	.upper {
		display: flex;
		width: 100%;

		table {
			width: 50%;
		}

		table:first-child td:last-child {
			border-right: 0.3mm solid grey;
		}

		th {
			text-align: center;
		}

		td {
			&.check, &.enc, &.ic, &.sr, &.routine {
				text-align: center;
			}

			&.name {
				font: 500 11px/1 Alegreya Sans;
			}

			&.sr {
				font: bold 11px/1 Alegreya Sans;
			}

			&.comment, &.routine {
				font: 400 11px/1 Alegreya Sans;
			}

			&.check, &.enc, &.ic {
				font: 8px/1 "Alegreya SC";
			}

		}

		tr.group td {
			font-weight: bold;
		}

		th, td {
			&.ic {
				width: 4.5mm;
			}

			&.routine {
				width: 3mm;
			}

			&.name, &.enc, &.sr, &.comment {
				padding: 0 1mm;
			}

			&.check {
				width: 16mm;
			}

			&.comment {
				width: 26mm;
			}

			&:nth-child(2n) {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}

	.lower {
		flex: 1 1 auto;
		display: flex;
		position: relative;

		> div {
			flex: none;
		}
	}

	.abilites {
		display: flex;
		flex-direction: column;

		.textbox {
			flex: 1 1 50%;
		}

		h3 {
			margin-top: 4.5mm;
		}
	}

	.languages-list, .scripts-list {
		font: 400 11px/4.5mm Alegreya Sans;
		width: 68.2mm;
	}

	.languages-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 0.15mm solid #c8c8c8;
			display: flex;
			padding: 0;

			&::before {
				display: none;
			}

			&:nth-child(2n) {
				border-left: 0.15mm solid #c8c8c8;
			}
		}

		span {
			display: block;

			&:first-child {
				padding: 0 1mm;
				flex: 1 1 0;
			}

			&:last-child {
				flex: 0 0 10.4mm;
				text-align: center;
			}
		}
	}

	.quality-levels, .routine-checks {
		table {
			width: auto;
		}

		th {
      white-space: normal;
		}

		th, td {
			text-align: center;
		}

		th:nth-child(2n), td:nth-child(2n) {
			background: rgba(0, 0, 0, 0.1);
		}

		td {
			padding: 0 1mm;
		}
	}

	.routine-checks {
		position: absolute;
		width: 50%;
		right: 0;
		top: -9mm;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-end;
		height: 24mm;

		h3, p {
			text-align: right;
			width: 44mm;
		}

		p {
			font: bold 10px/1 "Alegreya SC";
			margin-top: 1mm;
			white-space: pre-wrap;
			letter-spacing: 0;
		}

		th {
			height: 8mm;
		}

		th, td {
      width: 11mm;

			&:nth-child(2) {
				border-right: 0.15mm solid grey;
			}

			&:nth-child(3) {
				border-left: 0.15mm solid grey;
			}
		}

		table {
			flex: none;
		}
	}

	.attribute-mods {
		align-self: flex-end;
	}

	.quality-levels {
		align-self: flex-end;

		h3 {
			margin-bottom: 4mm;
		}

		th {
			height: 10mm;
		}

		th, td {
			width: 18mm;
		}
	}
}
