.navigationbar-left {
	flex: 1 1 100%;
	overflow: hidden;
	display: flex;
	align-items: stretch;

	> div {
		margin-left: 24px;

		&.avatar-wrapper {
			flex-shrink: 0;
			align-self: center;
			@include size($avatar-height);
			margin-left: 28px;
			margin-right: 4px;
		}

		&.text {
			color: $c3;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
}

.theme-light .navigationbar-left > div.text {
	color: $c7;
}
