node_modules/
npm-debug.log*
.vs/
/data/
~$TDE5*
/dist/
.rpt2_cache
.esm-cache
app/**/*.js
app/**/*.js.map
!app/index.js
/installer/
electron-builder.env
*.map
app/Database
publishSettings.json

.env*

Tables.zip
tables/
deploy/tablesSrc.json
src/App/Utilities/YAML/Schema/
.merlin
/lib
