node_modules/
npm-debug.log*
.vs/
/data/
~$TDE5*
/dist/
.rpt2_cache
.esm-cache
app/**/*.js
app/**/*.js.map
!app/index.js
/installer/
electron-builder.env
app/Database/**/*.xlsx
*.map
app/Database/de-DE/.~lock.l10n.xlsx#
app/Database/.~lock.univ.xlsx#
