node_modules/
npm-debug.log*
.vs/
/data/
~$TDE5*
/dist/
.rpt2_cache
.esm-cache
app/index.html
app/main.css
app/**/*.js
app/**/*.js.map
!app/index.js
!app/esmPreload.js
/installer/
electron-builder.env
*.map
publishSettings.json

.env*

Tables.zip
tables/
deploy/tablesSrc.json
/lib/bs/
.merlin
.bsb.lock
*.tsbuildinfo
