.sheet-attribute {
	flex: none;
	margin: 2mm 2mm 0;
	outline-width: 0.55mm;
	outline-style: solid;
	outline-color: transparent;
  border: 0.3mm solid black;
  width: 12mm;
  height: 12mm;

	&.ATTR_1 {
		outline-color: red;
	}

	&.ATTR_2 {
		outline-color: #90c;
	}

	&.ATTR_3 {
		outline-color: #3c3;
	}

	&.ATTR_4 {
		outline-color: black;
	}

	&.ATTR_5 {
		outline-color: yellow;
	}

	&.ATTR_6 {
		outline-color: blue;
	}

	&.ATTR_7 {
		outline-color: white;
	}

	&.ATTR_8 {
		outline-color: #f60;
	}

	&.ATTR_8, &:last-child {
		margin-right: 0;
	}

	.label {
		font: bold 8pt/1.2 Alegreya;
		color: black;
		letter-spacing: 0.05em;
		display: block;
		top: 0;
		padding: 0.6mm 1.1mm 0;
	}

	.value {
		text-align: center;
		font: bold 16pt/1.2 Alegreya Sans;
		color: black;
		letter-spacing: 0.05em;
		display: block;
	}
}
