.sheet-header {
	align-items: flex-end;
	flex: none;
	height: 28mm;
	margin-bottom: 4mm;
}

.sheet-title {
	flex: 1 1 100%;
	height: 28mm;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
  padding-bottom: 0.5mm;

	h1, p {
		text-align: center;
	}

	p {
		font: 13pt/0.9 "Alegreya SC";
		margin-top: 1.4mm;
	}

	img {
		position: absolute;
		width: 3cm;
		opacity: .2;
		left: calc(50% - 1.5cm);
	}
}

.sheet-attributes {
	flex: none;
	display: flex;
	flex-wrap: wrap-reverse;
	width: 126.1mm;
}
