.titlebar {
  display: block;
  width: 100%;
  height: calc(var(--titlebar-height) + 1px);
  z-index: 11000;
  top: 0;
  right: 0;
  -webkit-app-region: drag;
  padding: 1px 1px 0;

  &.empty {
    height: 16px;
  }

  --windows-titlebar-close: #e81123;
}

:root.blurred .titlebar-inner {
  border-bottom-color: var(--separator-color-transparent);
}

.titlebar-inner {
  height: var(--titlebar-height);
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--separator-color-halftransparent);
}

:root.blurred .titlebar-title {
  opacity: 0.25;
}

.titlebar-title {
  font-family: "Alegreya";
  font-size: 0.9rem;
  line-height: calc(var(--titlebar-height) - 1px);
  font-weight: 600;
  color: var(--headings-color);
  white-space: nowrap;
  display: flex;
}

.platform--win32,
.platform--linux {
  .titlebar-inner {
    display: flex;
    justify-content: space-between;
  }

  .titlebar-title {
    margin-left: 10px;
  }

  .titlebar-btn {
    width: 46px;
    height: 30px;
    font: 16px/28px TDE Heroes;
    color: var(--accent-color);
    -webkit-app-region: no-drag;
    text-align: center;
    background: none;
    border-radius: none;
    border: none;
    margin: 0;
    padding: 0;

    &:disabled {
      color: var(--separator-color-transparent);
    }

    &:not(:disabled):hover {
      color: var(--headings-color);
      background: var(--separator-color-transparent);

      &.close {
        background: var(--windows-titlebar-close);
      }
    }
  }

  .titlebar--secondary .titlebar-btn {
    width: 30px;
  }
}

.platform--darwin {
  .titlebar--secondary {
    --titlebar-height: 27px;
  }

  .macos-hover-area {
    -webkit-app-region: no-drag;
    padding: 12px;
    height: 100%;
    width: 76px;
    position: absolute;
  }

  .titlebar-title {
    justify-content: center;
  }
}
