.rcp-selections {
	.spec {
		> div {
			display: flex;

			> div:last-child:not(:first-child) {
				margin-left: 11px;
			}
		}
	}

	.list.curses, .list.skills {
		> div {
			display: flex;
			align-items: center;
			height: 32px;

			&:hover {
				background: $c1t;
			}

			> span {
				margin: 0 11px;
			}

			> .btn {
				padding: 0 14px 3px;
				min-width: auto;
				font-size: 16px;
				flex: none;
				margin-left: 4px;
				height: 24px;
			}
		}
	}

	.list.curses {
		> div {
			> .checkbox {
				flex: 1 1 100%;

				&:hover {
					background: none;
				}
			}
		}
	}

	.list.skills {
		> div {
			> .skillname {
				flex: 1 1 100%;
			}
		}
	}

	.list.lang_lit {
		> h4 > span {
			&.error {
				color: #aa1b32;
			}
		}

		.languages-scripts {
			display: flex;
			align-items: flex-start;

			> div {
				flex: 1 1 100%;

				> div {
					display: flex;
					align-items: center;

					&:not(.disabled):hover {
						background: $c1t;
					}

					> .checkbox {
						flex: 1 1 100%;

						&:hover {
							background: none;
						}
					}

					> .dropdown {
						flex: none;
						margin: 0;
						line-height: 26px;
						width: 60px;

						> div > div {
							&.value {
								height: 28px;

								&::before {
									top: 9px;
								}

								&::after {
									bottom: 9px;
								}
							}
						}

						&.bottom > div > .down {
							top: 28px;
						}

						&.top > div > .down {
							bottom: 28px;
						}
					}
				}
			}
		}

		.scripts {
			margin-left: 20px;
		}
	}

	.scroll-inner > .btn.btn-primary {
		margin-top: 20px;
	}
}
