%brown-border {
	&::after {
		position: absolute;
		left: -11px;
		top: -1px;
		@include calc(width, "100% + 5px");
		height: 100%;
		content: "";
		border-image: linear-gradient(to right, $color14 0%, transparentize($color14, 1) 100%);
		border-image-slice: 1;
		border-width: 1px 0 1px 6px;
		border-style: solid;
		border-color: transparent;
		pointer-events: none;
	}
}
