%large-tr {
	td {
		height: 42px;

		&.name {
			> div {
				display: flex;
				align-items: center;

				> h2, > div {
					flex: none;
					margin: 0;
				}

				> div {
					margin-left: 14px;

					&.tiers {
						width: 65px;
					}
				}
			}
		}
	}
}