.header-dropdown {
	display: block;
	background: $pane-background-color;
	border-bottom: 1px solid #785a28;
	position: absolute;
	width: 100%;
	padding: 0 0 2px 0;
	z-index: 2;
	
	> hr {
		margin: 5px 0;
		padding: 0;
		background: #1f282d;
		height: 1px;
	}
	
	.btn {
		margin: 28px 11px 0;
		
		+ div {
			&:not(.btn) {
				margin-top: 38px;
			}
			
			&.btn {
				margin-top: 11px;
			}
		}
	}
}