.hero-section {
	padding: 0 0 44px;
	touch-action: pan-y;

	.collapse {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li.no-heroes {
				margin-top: 4px;
				padding: 10px 15px;
				font: 11px/12px Alegreya Sans;
				letter-spacing: 0.03em;
				color: rgba(123, 117, 105, .5);
			}
		}
	}
}