.pane-footer {
	height: 33px;
	position: absolute;
	border-top: 1px solid #1f282d;
	bottom: 0;
	width: 100%;
	padding: 0 11px;
	display: flex;
	justify-content: space-between;

	span, a {
		font: 500 12px/32px Alegreya Sans SC;
		color: #3a444a;
		height: 16px;
		flex: none;
		text-transform: uppercase;
	}
	
	a {
		text-decoration: none;
		color: #c8aa6e;
		
		&:hover {
			cursor: pointer;
			color: #ffe1a4;
		}
	}
}