.command {
	width: 48px;
	height: 100%;
	flex: 0 0 auto;
	touch-action: manipulation;
	text-align: center;

	.icon-wrapper {
		font-size: 24px;
		height: 48px;
		width: 48px;
		line-height: 48px;
		margin-top: 0;
		position: absolute;
	}

	&:hover {
		background: #1c2a2a;
	}

	label {
		display: block;
		width: 48px;
		position: absolute;
		margin-top: 48px;
		font-size: 10px;
		line-height: 12px;
	}

	&.disabled {
		pointer-events: none;

		.icon-wrapper, label {
			opacity: 0.15;
		}
	}

	&.hide {
		display: none;
	}
}
