.skillcard {
	min-width: 320px !important;
	height: 48px;
	display: flex;
	margin-top: 12px;
	padding: 0 !important;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	font-family: "Source Sans Pro";

	.icon {
		flex: 1 0%;
		height: 48px;
		width: 48px;
		position: relative;

		.icon-label {
			height: 16px;
			width: 34px;
			position: relative;
			margin: 32px 0 0 14px;
			background: #00070e;
			border: 1px solid #2b2f34;
			color: #a1a4a8;
			text-align: center;
			font: 10px/14px "Source Sans Pro";
			pointer-events: none;
		}

		.icon-border {
			margin-top: -46px;
			border: 1px solid #2b2f34;
			height: 44px;
			width: 44px;
			pointer-events: none;

			.icon-image {
				border: 1px solid black;
				height: 42px;
				width: 42px;
			}
		}

		&:hover {
			.icon-border {
				border-color: #efe7d0;
			}

			+ .tooltip {
				visibility: visible;
			}
		}
	}

	.tooltip {
		visibility: hidden;
		display: block;
		position: absolute;
		width: 280px;
		border: 1px solid #785a28;
		background: #010a13;
		padding: 11px;
		bottom: 58px;
		left: -116px;

		&:after {
			display: block;
			position: absolute;
			height: 12px;
			width: 12px;
			border-color: transparent #785a28 #785a28 transparent;
			border-style: solid;
			border-width: 1px;
			background: #010a13;
			content: "";
			left: 130px;
			bottom: -7px;
			transform: rotate(45deg);
		}

		.header {
			display: flex;
			padding-bottom: 11px;

			.title {
				color: #efe7d0;
				font: bold 11px/14px Caudex;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				text-align: left;
				width: 222px;
			}

			.level {
				font: 12px/14px "Source Sans Pro";
				text-align: right;
				width: 34px;
			}
		}

		.body {
			font-size: 11px;
			line-height: 14px;
		}
	}

	.right {
		flex: 1 100%;
		height: 48px;
		padding-left: 11px;
		white-space: nowrap;

		.title {
			color: #efe7d0;
			font: bold 11px/20px Caudex;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin-top: 4px;
		}

		.costs {
			color: #a19b8f;
			font: 10px/20px "Source Sans Pro";
		}
	}

	&:not(.active) {
		opacity: 0.75;
	}

	&.disabled {
		opacity: 0.4;
	}
}
