#body > main section#master .page#ingame .ingame-table .ingame-table-center {
	flex: 1 1 100%;
	position: relative;
	overflow: hidden;

	.ingame-table-center-scroll {
		overflow-x: scroll;
		overflow-y: hidden;
		height: calc(100% + 17px);
	}
}
