#body > main section#master {
	// background-image: url("images/ingame/background.png");

	&::before {
		position: absolute;
		width: calc(100% - 70px);
		height: 1px;
		content: "";
		background: #3c3732;
		// background: #3a322b;
		// background: #1f282d;
		top: var(--titlebar-height);
		left: 35px;
	}
}
