#sheets .sheet-wrapper .sheet.chants {
	> .header .attributes {
		> div:nth-child(9) {
			width: 110px;

			> .value > div > div {
				width: 100%;
			}
		}

		> div:nth-child(10) {
			width: 350px;
			margin-right: 0;
		}
	}
	
	> div:not(.head) {
		height: auto;
		width: 100%;

		&.miracles > div {
			display: flex;

			> div {
				width: 50%;
			}
		}

		.inline-table {
			white-space: nowrap;

			td:first-child {
				width: 10px;
				padding-right: 15px;
			}

			td:not(.rank) {
				height: 18px;
				line-height: 18px;
				font-size: 9px;
			}
		}

		.rank {
			span:first-child {
				font-weight: bold;
			}

			span:last-child {
				padding-left: 5px;
				font-size: 8px;
				letter-spacing: 0.04em;
			}
		}
	}
}
