#sheets .sheet-wrapper .sheet.spells {
	> .header .attributes {
		> div:nth-child(9) {
			width: 110px;

			> .value > div > div {
				width: 100%;
			}
		}

		> div:nth-child(10) {
			width: 350px;
			margin-right: 0;
		}
	}
	
	.inline-table {
		white-space: nowrap;
		width: 500px;

		tr.specs {
			font-style: italic;

			td {
				padding-left: 30px !important;
			}
		}

		td {
			&.se {
				width: 14px;

				div {
					@include size(10px);
					border: 1px solid black;
					border-radius: 5px;
				}
			}

			&.name {
				text-transform: none;

				span:last-child {
					float: right;
					padding-right: 15px;
				}
			}

			&.test, &.skt, &.zfw, &.merk, &.rep {
				padding-right: 15px;
				width: 15px;
			}

			&.zfw {
				width: 50px;
			}

			&.page {
				width: 1px;
			}
		}
	}
}
