#main-sheet {
	> .upper {
		flex: none;

		> .info {
			flex: 1 1 100%;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			overflow: hidden;

			.plain {
				align-items: flex-start;
			}

			.name, .profession, .title, .characteristics, .otherinfo {
				width: 100%;
			}

			.otherinfo {
				height: 56px;

				div.value {
					height: 48px;
				}
			}

			.family, .placeofbirth, .dateofbirth, .race, .haircolor, .eyecolor, .culture, .socialstatus {
				width: 50%;
			}

			.age, .sex, .size, .weight {
				width: 25%;
			}

			.name, .family, .dateofbirth, .race, .haircolor, .culture, .profession, .title, .characteristics, .otherinfo {
				.label {
					width: 25mm;
				}
			}

			.placeofbirth, .age, .size, .eyecolor, .socialstatus {
				.label {
					width: 19mm;
				}
			}

			.sex, .weight {
				.label {
					width: 58px;
				}
			}
		}

		> .ap-portrait {
			flex: none;
			width: 7.6cm;
			margin-left: 10px;
			display: flex;
			flex-wrap: wrap;

			> .labelbox {
				display: flex;
				height: 1cm;
				margin: 0.38cm 0 0;
				width: 4.4cm;

				&.el {
					width: 100%;

					.box {
						width: 4.4cm;
						font-size: 20px;
						font-weight: 400;
					}

					label {
						text-align: center;
						margin-left: 0;
					}
				}

				&.portrait {
					label {
						margin-left: 0;
					}
				}

				.box {
					font: bold 24px/9.6mm Alegreya Sans;
					text-align: center;
					width: 2cm;
				}

				label {
					margin-left: 10px;
				}
			}

			.portrait {
				width: 31.45mm;
				flex-direction: column;
				margin-left: 0.55mm;

				.box {
					width: 31.45mm;
					height: 37.6mm;

					img.avatar {
						border-radius: 0;
						object-fit: cover;
						width: calc(100% + 0.15mm);
						height: 100%;
					}
				}

				label {
					height: 8mm;
					line-height: 8mm;
				}
			}
		}
	}

	> .lower {
		flex: 1 1 100%;

		> .lists {
			flex: 1 1 100%;
			display: flex;
			flex-direction: column;
			margin-right: 4mm;

			> .textbox {
				flex: 1 0 auto;

				.textbox-content {
					height: 54mm;
				}
			}
		}

		> .calculated {
			width: 76mm;
			flex: none;
			margin-top: 9mm;
			margin-bottom: 2mm;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			> div.calc-header {
				justify-content: flex-end;
				height: auto;
				align-items: flex-end;
				margin-right: -2mm;
				flex: 0 0 auto;

				> div {
					width: 8mm;
					font: bold 9px Alegreya Sans;
					margin-right: 2mm;
				}
			}

			> div {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2mm;
				height: 13mm;
				flex: 0 0 13mm;

				> .label {
					span {
						display: block;
						font: italic 900 9px Alegreya Sans;

						&.sub {
							margin-top: 6px;
						}
					}
				}

				> .values {
					display: flex;
					flex-wrap: wrap;
					width: 41mm;
					align-content: flex-start;
					align-items: flex-start;
					margin-right: -3mm;

					> div {
            width: 8mm;
            height: 8mm;
						border: 0.3mm solid black;
						font: 21px/7.4mm Alegreya Sans;
						text-align: center;
						margin-right: 2mm;

						&:nth-child(4) {
							font-weight: bold;
						}

						&.sub {
							height: 4mm;
							line-height: 15px;
							font-size: 9px;
							margin-top: 1mm;
						}

						&.blocked {
							position: relative;

							&::before, &::after {
								content: "";
								position: absolute;
								width: 140%;
								height: 0.3mm;
								top: calc(50% - 0.3mm);
								left: -20%;
								background: black;
							}

							&::before {
								transform: rotate(45deg);
							}

							&::after {
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
		}
	}
}

@import "MainSheetFatePoints";
