html, body, #bodywrapper, #body {
	-ms-scroll-translation: vertical-to-horizontal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	cursor: default;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	touch-action: none;
	width: 100%;
}

#body {
	background: $background1;
	display: flex;
	font: 14px/23px Alegreya;
	position: relative;

	> main {
		@extend %max-size-relative;
		flex: 1 1 100%;
	}
}
