html, body, #bodywrapper, #body {
	@extend %max-size-relative;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

#body {
	cursor: default;
	background: $background1;
	display: flex;
	font: 14px/23px Alegreya;
}
