#rules {
  .rule-books,
  .focus-rules,
  .optional-rules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0 12px;
    align-items: start;
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
      display: flex;
      align-items: center;
      padding: 0;

      > .checkbox {
        flex: 1 1 0;
      }
    }
  }

  .rule-books {
    margin-top: 24px;
    grid-gap: 12px;
  }

  .extended {
    display: flex;

    .dropdown {
      margin: 0 0 0 10px;
      width: 60px;
    }
  }

  .temporary-fixes {
    .dropdown {
      margin-top: 16px;
    }
  }
}

.rule-books .checkbox.adult-content .checkbox-label::after {
  content: "18";
  display: inline-block;
  background: var(--adult-badge);
  color: var(--headings-color);
  border-radius: 3px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-variant-numeric: lining-nums;
}
