#body > main > section {
	@extend %max-size-relative;
	padding-top: $titlebar-height;
	z-index: 0;
	overflow: hidden;
	background-image: url("images/background.jpg");
	background-position: center center;
	background-size: cover;
	color: $pane-background-color;
	display: flex;
	flex-direction: column;

	> .subtabs {
		flex: none;
	}

	> .page {
		flex: 1 1 auto;
		padding: 11px 0 3px;
		font: 14px/22px Alegreya Sans;
		letter-spacing: 0.025em;
		color: #878683;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		overflow: hidden;
		height: 100%;

		.scroll {
			flex: 1 1 100%;

			.scroll-inner {
				padding: 0 35px;
				display: flex;
				flex-wrap: wrap;

				> div:not(.btn):not(.iconbutton):not(.textfield):not(.dropdown), > h2, > h3, > h4, > ul {
					flex: 1 0 auto;
					width: 100%;
				}

				.textfield, .dropdown {
					+ .iconbutton {
						margin: 10px 0 10px 11px;
					}
				}
			}
		}

		> .options {
			flex: 1 0 auto;
			width: 200px;
			margin-left: 35px;

			.radiobutton-group, .btn {
				width: 100%;
			}

			.btn {
				margin-top: 10px;
			}
		}

		.list {
			table {
				width: 100%;
				white-space: nowrap;

				td {
					padding: 5px 5px 5px 11px;

					&.name {
						width: 100%;
					}

					&.name, &.fw {
						color: #f0e6d2;
					}
				}

				thead {
					font: bold 13px/22px Alegreya SC;

					tr td {
						border-bottom: 1px solid transparentize(white, .925);
					}
				}

				tbody {
					tr {
						&:not(:last-child) td {
							height: 36px;
							border-bottom: 1px solid transparentize(white, .925);
						}

						&:hover {
							background: transparentize(white, .975);
						}

						td {
							height: 36px;
							
							&.name h2, &.fw {
								font: 500 15px/15px Alegreya Sans;
								text-transform: none;
								color: #f0e6d2;
							}

							&.check, &.skt {
								font: 13px/13px Alegreya SC;
							}

							&.inc {
								font-weight: 500;
								display: flex;
								justify-content: flex-end;
								align-items: center;

								.btn {
									padding: 0 14px 3px;
									min-width: auto;
									font-size: 16px;
									flex: none;

									&:nth-child(2) {
										margin-left: 4px;
									}
								}
							}
						}

						// &.min {
						// 	td {
						// 		color: transparentize(#878683, .4);

						// 		&.name h2, &.fw {
						// 			font: 500 15px/15px Alegreya Sans;
						// 			text-transform: none;
						// 			color: transparentize(#f0e6d2, .4);
						// 		}
						// 	}
						// }
					}
				}
			}
		}
	}
}
