aside .scroll .scroll-inner {
  padding: 21px;
}

aside {
  width: 300px;
  flex: none;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--separator-color-20);

  > div {
    flex: none;

    &:not(.scroll) {
      padding: 24px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--separator-color-20);
    }
  }

  > .scroll {
    max-height: 100%;
    flex: 1 1 100%;
  }

  .aside-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 16px;
  }

  .aside-header p {
    flex: none;
    margin: 0;
    color: #f1e6d4;

    &.title {
      height: 16px;
      display: block;
      font: bold 15px/16px Alegreya;
      letter-spacing: 0.1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }

  .aside-header p:nth-child(2) {
    margin-bottom: 0;
  }
}
