html, body, #bodywrapper, #body {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#body {
	cursor: default;
	background: var(--background-color);
	display: flex;
	font: 14px/23px Alegreya;
	border: 1px solid var(--separator-color-transparent);
}

@keyframes rotateBackground {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	align-items: center;

	> img {
		opacity: .15;
		animation-name: rotateBackground;
		animation-timing-function: linear;
		animation-duration: 300s;
		animation-iteration-count: infinite;
	}
}

section#content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
}

.small-info-text {
	font: 500 12px Alegreya Sans;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--separator-color-halftransparent);
}

ul:not(.list-wrapper) {
	list-style: none outside none;
	margin: 0;
	padding: 0;

	li {
		padding-left: 18px;

		&::before {
			position: absolute;
			content: "";
			transform: rotate(45deg);
			width: 6px;
			height: 6px;
			background: var(--separator-color-transparent);
			margin-top: 8px;
			margin-left: -17px;
		}

		em {
			font-weight: 400;
		}
	}
}
