main {
	width: 100%;
	height: 100%;
	position: relative;
	flex: 1 1 100%;
}

section {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: $titlebar-height + 31px;
	z-index: 0;
	overflow: hidden;
	// background: url("images/background.jpg") center/cover $background2;
	display: flex;
	flex-direction: column;

	> .page > .scroll {
		flex: 1 1 100%;
		margin-left: 24px;
	}

	> .page > .scroll, > .page > .main-content > .scroll {
		.scroll-inner {
			padding: 24px 24px 24px 0;
		}
	}
}

.subtabs {
	flex: none;
}
