main {
	@extend %max-size-relative;
	flex: 1 1 100%;
}

section {
	@extend %max-size-relative;
	padding-top: $titlebar-height + 31px;
	z-index: 0;
	overflow: hidden;
	// background: url("images/background.jpg") center/cover $background2;
	display: flex;
	flex-direction: column;

	> .page > .scroll {
		flex: 1 1 100%;
		margin-left: 24px;

		.scroll-inner {
			padding: 24px 24px 24px 0;
		}
	}
}

.subtabs {
	flex: none;
}
