html, body, #bodywrapper, #body {
	@extend %max-size-relative;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

#body {
	cursor: default;
	background: $background1;
	display: flex;
	font: 14px/23px Alegreya;
	border: 1px solid $color12;
}

.error-message {
	color: $c2;
	white-space: pre-wrap;
	font: 500 18px/20px Alegreya Sans;

	.scroll-inner {
		padding: 36px 36px 36px 0;
	}
}
