html, body, #bodywrapper, #body {
	@extend %max-size-relative;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

#body {
	cursor: default;
	background: var(--background-color);
	display: flex;
	font: 14px/23px Alegreya;
	border: 1px solid var(--separator-color-transparent);
}

.background-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("images/background.svg") center/cover;
	opacity: .1;
}

.error-message {
	color: var(--accent-color);
	white-space: pre-wrap;
	font: 500 18px/20px Alegreya Sans;

	.scroll-inner {
		padding: 36px 36px 36px 0;
	}
}
