@font-face {
  font-family: "Material";
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/Material/MaterialIcons-Regular.ttf");
}

@font-face {
  font-family: "TDE Heroes";
  font-weight: normal;
  font-style: normal;
  src: url("../../assets/fonts/TDE Heroes.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Alegreya-Regular.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Alegreya-Bold.ttf");
}

@font-face {
  font-family: "Alegreya";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/Alegreya-BoldItalic.ttf");
}

@font-face {
  font-family: "Alegreya SC";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSC-Regular.ttf");
}

@font-face {
  font-family: "Alegreya SC";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSC-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSans-Italic.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSans-Medium.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSans-MediumItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSans-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSansSC-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSansSC-Italic.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/AlegreyaSansSC-Medium.ttf");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/AlegreyaSansSC-MediumItalic.ttf");
}

@font-face {
  font-family: "Gentium Basic";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/GentiumBasic-Regular.ttf");
}
