@page {
  margin: 0;
}

@media only print {
  .titlebar-inner::after, .navigationbar-inner::after, .navigationbar-subtabs::after {
    display: none;
  }

  html, body, #bodywrapper, #body, section {
    background: none;
  }

  html, body, #bodywrapper, #body, .page {
    overflow-x: hidden;
    height: auto;
    width: auto;
  }

  html, body {
    overflow-y: auto;
  }

  #bodywrapper, #body, .page {
    overflow-y: hidden;
  }

  #body {
    display: block;
    border: none;
    background: white;
  }

  .titlebar, section#content > .navigationbar, section#content > .navigationbar-subtabs, .background-image {
    display: none;
    margin: 0;
    padding: 0;
  }

  section {
    overflow: hidden auto;
    padding: 0;
    display: block;

    > .page#sheets {
      padding: 0;
      flex: unset;
      display: block;

      > .scroll {
        margin: 0;
        overflow: hidden auto !important;
        height: auto !important;
        width: auto !important;

        .scroll-view {
          overflow: hidden auto !important;
          height: auto !important;
          width: auto !important;
          position: relative !important;
          top: auto !important;
          bottom: auto !important;
          left: auto !important;
          right: auto !important;
          margin: auto !important;
        }

        .scroll-inner {
          padding: 0;

          .sheet {
            height: 296.8mm;
            width: 210mm;
            margin: 0;
            padding: 8.9mm;
            -webkit-print-color-adjust: exact;
            page-break-inside: avoid;
            overflow: hidden;

            #body.platform-darwin & {
              height: 296mm;
              padding: 8.9mm 8.9mm 6mm;
            }

            &:not(:first-child) {
              page-break-before: always;
            }

            &:first-child {
              page-break-before: avoid;
            }
          }
        }

        .track {
          display: none;
        }
      }

      .options {
        margin: 0;
        padding: 0;
      }

      .options, .print-document {
        display: none;
      }
    }
  }

  .sheet-wrapper {
    display: block;
    margin-top: 0 !important;

    &.zoom-100,
    &.zoom-125,
    &.zoom-150,
    &.zoom-175,
    &.zoom-200 {
      .sheet-wrapper {
        height: 296.8mm;
        width: 210mm;

        #body.platform-darwin & {
          height: 296mm;
        }

        .sheet {
          transform: scale(1);
        }
      }
    }
  }
}
