@use "variables";
@use "fonts";
@use "headings";

* {
  box-sizing: border-box;
  -ms-overflow-style: none;

  &:not(input):not(textarea) {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

html {
  font: 16px/1.35rem "Alegreya Sans", sans-serif;
  letter-spacing: 0.025em;
  color: var(--text-color);
}

html,
body,
#root,
#body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  background: var(--background-color);

  &:not(.platform--darwin) {
    border: 1px solid var(--separator-color-20);
  }
}

a {
  color: var(--link);

  &:hover {
    color: var(--link-hover);
  }
}

p {
  margin: 10px 0 0;

  &:first-child {
    margin: 0;
  }

  &.featured {
    font-weight: 500;
    color: var(--headings-color);
  }
}

.default-1-1 {
  width: 100%;
}

.flex {
  display: flex;
}

%label {
  label {
    color: #a19b8f;
    letter-spacing: 0.05em;
    display: block;
    font: 500 12px/1 Alegreya Sans;
    padding-bottom: 6px;
  }
}

.smallcaps {
  font: bold 13px/1 Alegreya SC;
  text-transform: uppercase;
  color: var(--headings-color);
}

hr {
  margin: 15px 0 5px;
  border: none;
  height: 1px;
  background: var(--separator-color-20);

  &.vertical {
    margin: 0 20px;
    height: auto;
    width: 1px;
  }
}
