.number-box {
	position: absolute;
	border: 1px solid var(--separator-color-transparent);
	background: var(--background-color);
	color: var(--text-color);
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	height: 18px;

	span + span:before {
		content: " / "
	}
}
