.options {
	flex: 1 0 auto;
	width: 200px;
	margin-left: 24px;
	padding: 24px 0;

	.radiobutton-group, .btn, .textfield, .dropdown {
		width: 100%;
	}

	.btn {
		margin-top: 10px;
	}

	> div:first-child {
		margin-top: 0;
	}

	p {
		font: 12px/20px Alegreya Sans;
	}
}
