.overlay {
	position: fixed;
	border: 1px solid var(--accent-color);
	background: var(--background-color);
	color: var(--text-color);
	box-shadow: 0 0 24px var(--background-color-transparent06);
	z-index: 12000;

	> div {
		padding: 20px;
	}

	h4 {
		font: bold 14px/18px Alegreya SC;
		text-transform: uppercase;
		color: var(--headings-color);
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.07em;

		span:last-child {
			color: var(--separator-color);
		}
	}

	p {
		font: 500 12px/16px Alegreya Sans;
		letter-spacing: 0.05em;
		margin-top: 16px;

		&:last-child {
			margin-bottom: 1px;
		}
	}

	> .arrow {
		position: absolute;
		border: 1px solid var(--accent-color);
		background: var(--background-color);
		transform: rotate(45deg);
		pointer-events: none;
		padding: 0;
	}
}
