.page {
	flex: 1 1 auto;
	font: 14px/22px Alegreya Sans;
	letter-spacing: 0.025em;
	color: var(--text-color);
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	overflow: hidden;
	height: 100%;
}
