.tooltip-wrapper {
	z-index: 1;

	> .overlay {
		z-index: 2000;
	}
}

.tooltip-small {
	padding: 6px 8px;
	font: 500 12px Alegreya Sans;
	letter-spacing: 0.04em;
	text-transform: none;
	color: var(--text-color);

	> div.markdown {
		padding: 0;
	}
}
