#item-editor, #armor-zones-editor {
	.modal-container {
		// width: 820px;
		width: 400px;
		// height: 250px;
		// height: 740px;

		.modal-content-inner {
			display: flex;
			flex-direction: column;

			> div {
				display: flex;
				flex-direction: column;

				> div.row {
					display: flex;
					margin-top: 10px;
					align-items: flex-end;

					&:first-child {
						margin-top: 0;
					}

					> div:not(:first-child) {
						margin-left: 20px;
					}

					> div, > div.container > div {
						flex: 1 1 0;
						margin: 0;
					}

					div {
						&.textfield, &.dropdown {
							width: auto;
						}
					}

					div.container {
						position: relative;
						height: 50px;
						display: flex;
						align-items: flex-end;
						flex: none;

						> label {
							position: absolute;
							top: 0;

							+ div:nth-child(2) {
								margin-left: 0;
							}
						}

						> div:not(:first-child)  {
							margin-left: 10px;
						}

						&.armor-add {
							flex: 1 1 auto;
						}

						&.armor-loss-container {
							.stabilitymod {
								flex: none;
								width: 57px;
							}
						}
					}

					> div {
						&.number, &.btn, &.loss, &.weapon-loss {
							flex: none;
						}

						&.number {
							width: 60px;
						}

						&.loss {
							width: 57px;
						}

						&.weapon-loss {
							width: 76px;
						}

						&.btn {
							margin-left: 10px;
						}

						&.where, &.combattechnique {
							flex-grow: 2;
						}

						&.improvised-weapon {
							padding-right: 0;
						}
					}

					> div.container > div {
						&.damage-dice-number, &.damage-dice-sides, &.damage-flat, &.at, &.pa, &.range1, &.range2, &.range3, &.pro, &.enc, &.loss, &.mov, &.ini {
							flex: none;
						}

						&.damage-dice-sides {
							width: 65px;
						}

						&.mov, &.ini {
							width: 57px;
						}

						&.damage-dice-number, &.damage-flat, &.at, &.pa, &.range1, &.range2, &.range3, &.pro, &.enc {
							width: 40px;
						}

						&.damage-dice-number, &.damage-dice-sides, &.damage-flat, &.at, &.pa, &.range1, &.range2, &.range3, &.pro, &.enc {
							input {
								text-align: center;
							}
						}
					}
				}
			}

			hr:first-child {
				margin-top: 5px;
			}
		}
	}
}
