#wiki {
  .options {
    flex-grow: 0;
  }

	aside {
		flex-basis: 40em;
    flex-grow: 10;
    width: unset;
	}

  .main-content {
    flex-grow: 1;
    flex-basis: 30em;
  }

	.main-content > .scroll .scroll-inner {
		padding: 24px 16px 16px 0;
	}

	.list-wrapper li {
		height: 49px;
	}
}
