.titlebar {
	position: absolute;
	width: 100%;
	z-index: 800;
}

.titlebar-inner {
	height: $titlebar-height;
	width: 100%;
	display: flex;
	position: relative;
	// background: linear-gradient(to bottom, transparentize($background2, .5) 0%, transparentize($background2, 1) 100%);
}