.vertical-list {
	> span:not(:last-child)::after {
		content: '';
		background: var(--separator-color-transparent);
    border-radius: 50%;
    width: 4px;
    height: 4px;
		display: inline-block;
		margin: 2px 8px;
	}
}
