.titlebar-tabs {
	flex: 1 1 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;

	.tab {
		font: bold 15px/#{$titlebar-height} Alegreya SC;
		// font: bold 18px/#{$titlebar-height} Alegreya SC;
		flex: 0 1 auto;
		letter-spacing: 0.1em;
		margin-left: 20px;
		text-transform: uppercase;
		color: $c2;
		min-width: 0;
		// padding: 0 10px;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			color: $c3;
			cursor: pointer;
		}

		&:active, &:focus {
			color: $c5;
			cursor: pointer;
		}

		&.active {
			pointer-events: none;
			color: $c3;

			&::after {
				position: absolute;
				content: "";
				width: auto;
				height: 3px;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: $c2;
			}
		}

		&.disabled {
			pointer-events: none;
			color: $c1t;
		}

		div {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
