.titlebar-back {
	flex: 1 0 auto;
	display: flex;
	position: relative;
	width: 32px;
	align-items: center;

	> div {
		@include size(32px);
		font: 32px TDE Heroes;
		color: $c2;

		&:hover {
			cursor: pointer;
			color: $c3;
		}
	}
}
