.titlebar-back {
	flex: 1 0 auto;
	display: flex;
	position: relative;
	margin-left: 35px;
	width: 40px;
	align-items: center;
	padding-left: 4px;

	+ div {
		margin-left: 28px;
	}
		
	&:after {
		position: absolute;
		height: 50px;
		width: 1px;
		content: "";
		background: #3c3732;
		top: ($titlebar-height - 50px) / 2;
		right: -1px;
	}

	> div {
		@include size(19px);
	}

	svg {
		transform: rotate(45deg);

		path {
			fill: #c89b3c;
		}

		&:hover {
			cursor: pointer;

			path {
				fill: #f1e6d4;
			}
		}
	}
}
