.titlebar-controls {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
}

.titlebar-controls-btn {
	-webkit-app-region: no-drag;
	font: 16px/18px Material;
	@include size(18px);
	text-align: center;
	margin-top: 7px;
	margin-right: 7px;
	color: $color3;

	&:hover {
		color: $color2;
		cursor: pointer;
	}
}
