#sheets .sheet-wrapper .sheet.inventory {
	.item-categories {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 100%;
		width: calc(100% + 20px);

		> div {
			margin: 20px 0 0 !important;
			width: 50%;
			padding-right: 20px;
			padding-bottom: 40px;
			border-spacing: 0;

			> h3 {
				line-height: 18px;
			}
			
			> table {
				margin: 0 !important;
			}
			
			&.all-items {
				flex: 0 100%;
			}
			
			&.provisions {
				min-height: 200px;
			}

			&.clothes {
				min-height: 120px;
			}

			&.connections {
				flex: 1;
			}

			&.money {
				flex: none;
			}
		}

		// > div {
		// 	min-width: 0;
		// 	padding-left: 20px;

		// 	> div:not(:first-child) {
		// 		margin-top: 20px;

		// 		h3 {
		// 			line-height: inherit;
		// 			display: inline-block;
		// 		}
		// 	}

		// 	&:last-child {
		// 		display: flex;
		// 		flex-direction: column;
		// 	}
		// }
	}

	.pets {
		flex: none;
		min-height: 120px;
		margin-top: 20px;
	}

	.inline-table {
		h3 {
			line-height: inherit;
			display: inline-block;
		}

		tbody td {
			&.name {
				text-transform: none;
				text-indent: -10px;
				padding-left: 10px !important;
				padding-right: 15px;
			}
		}

		td {
			height: 18px;
			line-height: 18px;
			vertical-align: bottom;

			&.weight {
				white-space: nowrap;
			}

			&.charges {
				width: 10px;
				white-space: nowrap;
			}
		}
	}
}
