#sheets {
	flex-flow: column nowrap;

	> .options {
		margin-bottom: 11px;
	}

	.scroll-inner {
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}
}

table {
	border-spacing: 0;
	white-space: nowrap;
	width: 100%;
}

.sheet {
	flex: none;
	width: 21cm;
	height: 29.7cm;
	background: white;
	margin-top: 30px;
	text-align: left;
	padding: 0.89cm;
	font: 11px/16px Alegreya;
	color: black;
	letter-spacing: 0;
	display: flex;
	flex-direction: column;

	&:last-child {
		margin-bottom: 30px;
	}

	> div {
		display: flex;
		justify-content: space-between;
	}

	h1, h2, h3 {
		color: black;
		margin: 0;
	}

	h1 {
		font: italic bold 24px/22px Alegreya;
	}

	h2 {
		font: 17px/13px Alegreya SC;
		text-transform: none;
		letter-spacing: 0;
	}

	h3 {
		font: bold 16px Alegreya;
		letter-spacing: 0;
		width: 100%;
	}

	td {
		border-style: solid;
		border-color: #c8c8c8;
	}

	thead td {
		height: 5mm;
		border-width: 0.3mm 0;
		font: bold 10px/1 Alegreya SC;
		border-color: grey;
	}

	tbody td {
		height: 4.5mm;
		border-width: 0 0 0.15mm;
		font: 500 11px/1 Alegreya Sans;
	}

	.activatable-list > div {
		font: 400 16px Alegreya Sans;
		letter-spacing: 0;
		padding-top: 8px;
	}
}

@import "SheetHeader";
@import "SheetHeaderAttribute";
@import "AttributeMods";
