#skills-sheet {
	> .textbox {
		flex-wrap: wrap;

		h3 {
			margin-bottom: 4mm;
		}
	}

	.upper {
		display: flex;
		width: 100%;

		table {
			width: 50%;
		}

		table:first-child tbody tr td:last-child {
			border-right: 0.3mm solid grey;
		}

		thead td {
			text-align: center;
		}

		tbody td {
			&.check, &.enc, &.ic, &.sr, &.routine {
				text-align: center;
			}

			&.name {
				font: 500 11px/1 Alegreya Sans;
			}

			&.sr {
				font: bold 11px/1 Alegreya Sans;
			}

			&.comment, &.routine {
				font: 400 11px/1 Alegreya Sans;
			}

			&.check, &.enc, &.ic {
				font: 8px/1 Alegreya SC;
			}

		}

		tbody tr.group td {
			font-weight: bold;
		}

		td {
			&.ic {
				width: 4.5mm;
			}

			&.routine {
				width: 3mm;
			}

			&.name, &.enc, &.sr, &.comment {
				padding: 0 1mm;
			}

			&.check {
				width: 14mm;
			}

			&.comment {
				width: 28mm;
			}

			&:nth-child(2n) {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}

	.lower {
		flex: 1 1 auto;
		display: flex;
		position: relative;

		> div {
			flex: none;
		}
	}

	.abilites {
		display: flex;
		flex-direction: column;

		.textbox {
			flex: 1 1 auto;
			height: 50%;
		}

		h3 {
			margin-top: 4.5mm;
		}
	}

	.languages-list, .scripts-list {
		font: 400 11px/4.5mm Alegreya Sans;
		width: 68.2mm;
	}

	.languages-list {
		td:last-child {
			width: 10.4mm;
			border-left-width: 0.15mm;
			text-align: center;
		}

		td {
			border-width: 0 0 0.15mm;
		}
	}

	.quality-levels, .routine-checks {
		table {
			width: auto;
		}

		thead div {
			word-wrap: break-word;
		}

		td {
			text-align: center;
		}

		td:nth-child(2n) {
			background: rgba(0, 0, 0, 0.1);
		}

		tbody td {
			padding: 0 1mm;
		}
	}

	.routine-checks {
		position: absolute;
		width: 50%;
		right: 0;
		top: -9mm;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-end;
		height: 24mm;

		h3, p {
			text-align: right;
			width: 44mm;
		}

		p {
			font: bold 10px/1 Alegreya SC;
			margin-top: 1mm;
			white-space: pre-wrap;
			letter-spacing: 0;
		}

		thead td {
			height: 8mm;
		}

		td {
			width: 11mm;

			&:nth-child(2) {
				border-right: 0.15mm solid grey;
			}

			&:nth-child(3) {
				border-left: 0.15mm solid grey;
			}
		}

		table {
			flex: none;
		}
	}

	.attribute-mods {
		align-self: flex-end;
	}

	.quality-levels {
		align-self: flex-end;

		h3 {
			margin-bottom: 4mm;
		}

		thead td {
			height: 10mm;
		}

		td {
			width: 18mm;
		}
	}
}
