section aside .scroll .scroll-inner {
	padding: 21px 30px 21px 21px;
}

aside {
	margin: 0 11px;
	width: 280px;
	flex: none;
	padding-bottom: 12px;
	display: flex;
	flex-direction: column;

	> div {
		border: 1px solid $color13;
		background: transparentize($background2, .5);
		flex: none;

		&:not(.scroll) {
			padding: 18px;
		}

		&:not(:last-child) {
			margin-bottom: 11px;
		}
	}

	.gm-scrollbar-container {
		max-height: 100%;
		flex: 1 1 100%;
	}

	.aside-header {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: center;
		height: 16px;
	}

	.aside-header p {
		flex: none;
		margin: 0;
		color: #f1e6d4;

		&.title {
			height: 16px;
			display: block;
			font: bold 15px/16px Alegreya;
			letter-spacing: 0.1em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-transform: uppercase;
		}
	}

	.aside-header p:nth-child(2) {
		margin-bottom: 0;
	}

	.info {
		.info-header {
			display: flex;
			justify-content: space-between;
			height: 16px;
			align-items: flex-end;

			p {
				margin: 0;
				font: bold 15px/16px Alegreya;
				color: $color1;
				letter-spacing: 0.07em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			p:nth-child(2) {
				color: $color2;
				margin-left: 10px;
				font-family: Alegreya Sans;
			}
		}

		p {
			font: 500 12px/16px Alegreya Sans;
			letter-spacing: 0.05em;
			margin-top: 16px;
		}

		> p {
			// text-indent: -10px;
			// padding-left: 10px;

			span:first-child {
				font-weight: bold;

				&::after {
					content: ": ";
				}
			}

			&:last-child {
				margin-bottom: 1px;
			}
		}

		.rule {
			color: #f1e6d4;
		}

		.note {
			color: #477;
		}

		.warning {
			color: #be1e37;
		}

		table {
			margin-top: 15px;
			font: 500 12px/16px Alegreya Sans;
			letter-spacing: 0.05em;
		}

		table td {
			padding: 0;
			border: none;
			height: auto;
		}

		table td:first-child {
			color: #878683;
			padding-right: 15px;
			width: 0;
		}

		table td:last-child {
			color: #f1e6d4;
		}

		.test {
			display: flex;
			align-items: center;
			margin-top: 16px;
			color: #f1e6d4;

			div {
				height: 32px;
				width: 32px;
				margin-right: 8px;
				border-width: 2px;
				border-style: solid;
				font: 500 12px/28px Alegreya Sans SC;
				text-align: center;
			}

			$colors: (1: $attr1, 2: $attr2, 3: $attr3, 4: $attr4, 5: $attr5, 6: $attr6, 7: $attr7, 8: $attr8);

			@for $i from 1 through 8 {
				.ATTR_#{$i} {
					border-color: map-get($map: $colors, $key: $i);
				}
			}

			.at {
				border-color: #aa1b32;
			}

			.at, .pa {
				font-size: 15px;
			}

			.pa {
				border-color: #005177;
			}

			.hr {
				border-width: 1px 0 0;
				color: #1e282d;
				flex: 1 1 auto;
				height: 1px;
				margin-left: 2px;
				margin-right: 10px;
			}

			.routine, .primary {
				border-color: #1e282d;
				border-width: 1px;
				margin-right: 0;
				color: #878683;
				line-height: 30px;
			}

			.primary {
				width: auto;
				min-width: 32px;
				padding: 0 8px;
			}
		}

		.subtitle {
			margin-top: 2px;
		}
	}

	.info-placeholder {
		flex: 1 1 100%;
		justify-content: center;
		display: flex;
		align-items: center;
		font: 48px Material;
	}
}
