.avatar-wrapper {
	border: 1px solid var(--accent-color);
	border-radius: 50%;
	position: relative;

	> .avatar {
		@include size(100%);
	}

	&::after {
		content: "";
		position: absolute;
		@include calc(width, "100% + 8px");
		@include calc(height, "100% + 8px");
		border: 1px solid var(--accent-color);
		border-radius: 50%;
		top: -5px;
		left: -5px;
	}

	&.no-avatar {
		border-color: var(--separator-color-transparent);

		&::after {
			display: none;
		}

		> .avatar {
			background: none;
		}
	}
}
