.btn {
	height: 32px;
	color: $c2;
	text-align: center;
	overflow: hidden;
	border: 1px solid $c2;

	&:hover, &:active {
		cursor: pointer;
	}

	&.disabled {
		border-color: $c1t;
		background: none;
		color: $c1t;
		pointer-events: none;
	}

	&.active {
		background: $c2;
		color: $c4;
		pointer-events: none;

		&:hover {
			border-color: $c2;
		}
	}

	&.autoWidth {
		width: auto;
		min-width: auto;
	}

	&.btn-flat {
		border: none;
		background: none;

		&:hover, &:active {
			background: none;

			> div {
				background: none;
			}
		}

		&.disabled > div {
			line-height: 28px;
		}

		> div {
			background: none;
		}
	}
}
