.checkbox {
	display: flex;
	padding: 6px 11px 6px 0;
	margin: 0 1px;
	align-items: flex-start;

	&:hover {
		background: $c1t;
		cursor: pointer;

		.icon {
			.border {
				border-color: $c3;
			}

			.hook {
				border-color: $c3;
			}
		}

		.text {
			color: $c3;
			cursor: pointer;
		}
	}

	.icon {
		flex: 1 0%;
		margin: 4px 0 5px;

		.border {
			height: 11px;
			width: 11px;
			border: 1px solid $c2;
		}

		.hook {
			visibility: hidden;
			margin-left: 5px;
			margin-top: -13px;
			height: 10px;
			width: 4px;
			transform: rotate(45deg);
			border-width: 0 1px 1px 0;
			border-color: $c2;
			border-style: solid;
		}
	}

	&.active {
		.hook {
			visibility: visible;
		}

		.text {
			color: $c3;
		}
	}

	&.disabled {
		pointer-events: none;

		.icon {
			flex: 1 0%;
			margin: 4px 0 5px;

			.border {
				border: 1px solid $c1t;
				box-shadow: 0 none;
			}

			.hook {
				border-color: $c1t;
			}
		}

		.text {
			color: $c1t;
		}
	}

	.text {
		flex: 0 100%;
		color: $c2;
		font: 500 12px/20px Alegreya Sans;
		letter-spacing: 0.05em;
		padding-left: 11px;
	}
}

.theme-light .checkbox {
	&:hover .icon .border,
	&:hover .icon .hook,
	&:hover .text,
	&.active .text {
		color: $c7;
	}

	&.disabled .text {
		color: $c1t;
	}
}
