.btn-round {
	width: 32px;
	color: var(--accent-color);
	border-radius: 50%;
	min-width: 0;
	padding: 0;

	> div {
		font: 32px/30px TDE Heroes;
		width: 30px;
		text-align: center;
		margin-left: -1px;
	}
}
