.btn-round {
	width: 32px;
	color: $c2;
	border-radius: 50%;
	min-width: 0;
	padding: 0;

	> div {
		font: 16px/30px Material;
		width: 30px;
		text-align: center;
	}

	// &:hover {
	// 	> div {
	// 		color: #f0e6d2;
	// 	}
	// }

	// &:active {
	// 	> div {
	// 		color: #5c5b57;
	// 	}
	// }

	&.btn-primary {
		background: linear-gradient(to bottom, #0abdb7 0%, #0abdb7 60%, #0c4550 100%);
		color: #a3c7c7;

		> div {
			background: #101721;
		}

		&:hover {
			background: linear-gradient(to bottom, #b4fbfb 0%, #4bb8d9 100%);

			> div {
				background-image: linear-gradient(to bottom, #102120 20%, #214341 100%);
				color: #caf8f7;
			}
		}
	}
}
