#loader {
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9000;
	
	div.icon {
		-ms-transform: translateZ(0);
		-webkit-animation: load8 1s infinite linear;
		-webkit-transform: translateZ(0);
		animation: load8 1s infinite linear;
		border-bottom: 4px solid rgba(75, 227, 222, 0.2);
		border-left: 4px solid #4be3de;
		border-right: 4px solid rgba(75, 227, 222, 0.2);
		border-top: 4px solid rgba(75, 227, 222, 0.2);
		position: relative;
		transform: translateZ(0);
		
		&, &:after {
			border-radius: 50%;
			width: 44px;
			height: 44px;
		}
		
		@-webkit-keyframes load8 {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
		@keyframes load8 {
			0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			}
			100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			}
		}
	}

	div.text {
		color: $color1;
		font: 500 13px Alegreya Sans;
		letter-spacing: 0.05em;
		margin-top: 10px;
		text-align: center;
	}
}