.number-box {
	position: absolute;
	border: 1px solid $color4;
	background: $background4;
	color: $color5;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	height: 18px;

	span + span:before {
		content: " / "
	}
}