.overlay {
	position: fixed;
	border: 1px solid $c2;
	background: $c4;
	color: $c8;
	box-shadow: 0 0 24px transparentize($c4, .2);
	z-index: 12000;

	> div {
		padding: 20px;
	}

	h4 {
		font: bold 14px/18px Alegreya SC;
		text-transform: uppercase;
		color: $c3;
		display: flex;
		justify-content: space-between;
		letter-spacing: 0.07em;

		span:last-child {
			color: $c1;
		}
	}

	p {
		font: 500 12px/16px Alegreya Sans;
		letter-spacing: 0.05em;
		margin-top: 16px;

		&:last-child {
			margin-bottom: 1px;
		}
	}

	&.overlay-top::after, &.overlay-bottom::before {
		content: "";
		position: absolute;
		@include size(12px);
		border: 1px solid $c2;
		background: $c4;
		transform: rotate(45deg);
		@include calc(left, "50% - 8px");
		pointer-events: none;
	}

	&.overlay-top::after {
		bottom: -7.5px;
	}

	&.overlay-bottom::before {
		top: -7.5px;
	}
}

.theme-light.overlay {
	background: $c6;
	color: $c9;
	box-shadow: 0 0 24px transparentize($c6, .2);

	h4 {
		color: $c7;
	}

	&.overlay-top::after, &.overlay-bottom::before {
		background: $c6;
	}
}
