.page {
	flex: 1 1 auto;
	padding: 8px 0 0;
	font: 14px/22px Alegreya Sans;
	letter-spacing: 0.025em;
	color: $color2;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	overflow: hidden;
	height: 100%;
}
