#sheets .plain {
	display: flex;
	align-items: center;
	height: 21px;

	div {
		&.label {
			font: bold 11px Alegreya;
			padding-right: 7px;
			flex: none;
			margin-top: 5px;
		}

		&.value {
			font: 400 13px Alegreya Sans;
			text-overflow: ellipsis;
			overflow: hidden;
			flex: 1 1 100%;
			padding-right: 5px;
			margin-top: 4px;
			height: 13px;
		}
	}
}
