.progressbar {
	border: 1px solid transparent;
	border-image: linear-gradient(to bottom, var(--accent-color) 0%, var(--accent-color-intense) 100%);
	background: var(--separator-color-transparent);
	padding: 1px;
	height: 90px;
	width: 8px;
	position: relative;

	&:not(.horizontal) .progressbar-overlay {
		top: 0;
		width: 4px;
	}

	&.horizontal {
		height: 8px;
		width: 90px;

		.progressbar-overlay {
			right: 0;
			height: 4px;
		}
	}
}
