.progressbar {
	border: 1px solid var(--accent-color);
	background: var(--separator-color-transparent);
	padding: 1px;
	height: 90px;
	width: 8px;
	position: relative;

	.progressbar-overlay {
		background: var(--accent-color);
	}

	&:not(.horizontal) .progressbar-overlay {
		top: 0;
		width: 4px;
	}

	&.horizontal {
		height: 8px;
		width: 90px;

		.progressbar-overlay {
			right: 0;
			height: 4px;
		}
	}

	&.fullWidth {
		&:not(.horizontal) {
			height: 100%;
		}

		&.horizontal {
			width: 100%;
		}
	}
}
