.radio {
	display: flex;
	height: 32px;
	padding: 6px 11px 6px 0;
	margin: 0 1px;
	align-items: flex-start;

	&:hover {
		background: var(--separator-color-transparent);
		cursor: pointer;

		// .icon {
		// 	.border {
		// 		border-image: linear-gradient(135deg, #785a28 0%, #ccbe91 100%);
		// 		border-image-slice: 1;
		// 	}
		// }

		.icon .border {
			border-color: var(--headings-color);
		}

		.icon .dot {
			background: var(--headings-color);
		}

		.text {
			color: var(--headings-color);
			cursor: pointer;
		}
	}

	.icon {
		flex: 1 0%;
		transform: rotate(45deg);
		margin: 5px 0 5px 1px;

		.border {
			height: 10px;
			width: 10px;
			border: 1px solid var(--accent-color);
		}

		.dot {
			visibility: hidden;
			margin-left: 2.5px;
			margin-top: -7.5px;
			height: 5px;
			width: 5px;
			background: var(--accent-color);
		}
	}

	&.active {
		pointer-events: none;

		.dot {
			visibility: visible;
		}

		.text {
			color: var(--headings-color);
		}

		&:hover {
			background: none;

			.icon .border {
				border-color: var(--accent-color);
			}

			.icon .dot {
				background: var(--accent-color);
			}
		}
	}

	&.disabled {
		pointer-events: none;

		.icon {
			.border {
				border: 1px solid var(--separator-color-transparent);
			}

			.dot {
				background: var(--separator-color-transparent);
			}
		}

		.text {
			color: var(--separator-color-transparent);
		}
	}

	.text {
		flex: 0 100%;
		color: var(--accent-color);
		font: 500 12px/20px Alegreya Sans;
		letter-spacing: 0.05em;
		padding-left: 11px;
	}
}
