.recommended-ref {
	margin: 20px 1px 0;

	> div {
		display: flex;
		align-items: center;
	}

	.icon {
		@include size(11px);
		border-radius: 50%;
		margin-right: 11px;
		border-width: 2px;
		border-style: solid;
	}

	.name {
		font: 400 12px/32px Alegreya Sans;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	.rec {
		.icon {
			border-color: $recommended2;
		}

		.name {
			color: $recommended1
		}
	}

	.unrec {
		.icon {
			border-color: $unrecommended2;
		}

		.name {
			color: $unrecommended1
		}
	}
}
