.scroll {
	.track-vertical {
		height: 100%;
		right: 0;
	}

	.track-horizontal {
		width: 100%;
		bottom: 0;
	}

	.thumb {
		background: #1e2328;
		position: relative;
		display: block;
		width: 0;
		height: 0;
		cursor: pointer;
		border-radius: 5.5px;
		border: 3px solid transparent;
		background-clip: padding-box;

		&:active {
			background-color: #463714;
		}
	}

	&:hover {
		.thumb {
			background-color: #785a28;

			&:hover {
				background-color: #cdbe91;
			}

			&:active {
				background-color: #463714;
			}
		}
	}
}
