.scroll {
	.track-vertical {
		height: 100%;
		right: 0;
	}

	.track-horizontal {
		width: 100%;
		bottom: 0;
	}

	.thumb {
		position: relative;
		display: block;
		width: 0;
		height: 0;
		cursor: pointer;
		border: 3px solid transparent;
		background-clip: padding-box;
		overflow: hidden;

		&:active div {
			border-color: $c5;
			background-color: $c5;
		}

		div {
			width: 100%;
			height: 100%;
			border: 1px solid $c1t;
		}
	}

	&:hover {
		.thumb {
			div {
				border-color: $c2;
			}

			&:hover div {
				border-color: $c2;
				background-color: $c2;
			}

			&:active div {
				border-color: $c5;
				background-color: $c5;
			}
		}
	}
}
