.segmented-controls {
}

.segmented-controls-list {
	display: flex;
	padding: 0 1px;

	.btn {
		flex: 1 1 auto;
		border-width: 1px 0;
		position: relative;
		overflow: visible;

		&::before, &::after {
			position: absolute;
			content: "";
			@include calc(height, "100% + 2px");
			width: 1px;
			background: $c2;
			z-index: 10;
			top: -1px;
		}

		&::after {
			right: -1px;
		}

		&::before {
			left: -1px;
		}

		&:hover {
			&::before, &::after {
				background: $c3;
				z-index: 11;
			}
		}

		&:active {
			&::before, &::after {
				background: $c5;
				z-index: 11;
			}
		}

		&.active {
			cursor: default;

			&::before, &::after {
				background: $c2;
				z-index: 10;
			}
		}

		&:not(:first-child) {
			margin-left: 1px;
		}
	}
}

.theme-light .segmented-controls-list .btn:hover {
	&::before, &::after {
		background: $c7;
	}
}
