.subtabs {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 32px;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background: $c1t;
		bottom: 0;
		z-index: 799;
	}

	> .tab {
		font: bold 13px/32px Alegreya SC;
		flex: 0 1 auto;
		letter-spacing: 0.1em;
		margin-left: 20px;
		text-transform: uppercase;
		position: relative;
		color: $c2;
		min-width: 0;
		padding: 0 10px;
		z-index: 800;

		&:hover {
			color: $c3;
			cursor: pointer;
		}

		&:active, &:focus {
			color: $c5;
			cursor: pointer;
		}

		&:last-child {
			margin-right: 20px;
		}

		&.active {
			pointer-events: none;
			color: $c3;

			&:after {
				position: absolute;
				content: "";
				width: auto;
				height: 2px;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				background: $c2;
			}
		}

		&.disabled {
			pointer-events: none;
			color: $c1t;
		}

		div {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}
