table {
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	table-layout: auto;
	width: 100%;
	white-space: nowrap;
}

table.list {
	td {
		padding: 0 8px;

		&.name {
			width: 100%;
		}

		&.name, &.fw {
			color: #f0e6d2;
		}
	}

	thead {
		font: bold 13px/22px Alegreya SC;

		td {
			border-bottom: 1px solid transparentize(white, .925);
		}
	}

	tbody {
		tr {
			&:not(:last-child) td {
				border-bottom: 1px solid transparentize(white, .925);
			}

			&:hover {
				background: transparentize(white, .975);
			}
		}

		td {
			height: 36px;

			&.name h2, &.fw {
				font: 500 15px/15px Alegreya Sans;
				text-transform: none;
				color: #f0e6d2;
			}

			&.fw, &.check, &.skt {
				display: flex;
				padding: 0;

				div {
					height: 32px;
					width: 32px;
					margin-right: 8px;
					border-width: 2px;
					border-style: solid;
					font: 500 12px/28px Alegreya Sans SC;
					text-align: center;
				}
			}

			&.check, &.skt {
				font: 13px/13px Alegreya SC;
			}

			&.inc {
				font-weight: 500;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.btn {
					flex: none;
					background: transparent;

					&:hover {
						background: transparent;
					}

					border: none;

					&:not(:first-child) {
						margin-left: 4px;
					}
				}
			}
		}
	}

	&.large-list tbody td {
		height: 42px;

		&.name {
			> div {
				display: flex;
				align-items: center;

				> h2, > div {
					flex: none;
					margin: 0;
				}

				> div {
					margin-left: 14px;

					&.tiers {
						width: 65px;
					}
				}
			}
		}
	}
}

.list-wrapper {
	display: flex;
	flex-direction: column;
	padding: 1px 0;
}

.list-item {
	flex: none;
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px;

	&:hover{
		.values {
			$colors: (1: $attr1, 2: $attr2, 3: $attr3, 4: $attr4, 5: $attr5, 6: $attr6, 7: $attr7, 8: $attr8);

			@for $i from 1 through 8 {
				.ATTR_#{$i} {
					border-color: map-get($map: $colors, $key: $i);
				}
			}
		}

		&::after {
			position: absolute;
			left: -11px;
			top: -1px;
			@include calc(width, "100% + 5px");
			height: 100%;
			content: "";
			border-image: linear-gradient(to right, $color14 0%, transparentize($color14, .75) 100%);
			border-image-slice: 1;
			border-width: 1px 0 1px 6px;
			border-style: solid;
			border-color: transparent;
			pointer-events: none;
		}
	}

	&:not(:last-child) {
		margin-bottom: 1px;
	}

	.name {
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	p {
		font: 500 12px/16px Alegreya Sans;
		letter-spacing: 0.05em;
		margin-top: 2px;

		&.title {
			height: 16px;
			// font: bold 15px/16px Alegreya;
			// letter-spacing: 0.1em;
			font: 500 15px/16px Alegreya Sans;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			// text-transform: uppercase;
			text-transform: none;
			color: $color1;
			margin: 0;
		}
	}

	.hr {
		border-width: 1px 0 0;
		background-color: $color12;
		flex: 1 1 auto;
		height: 1px;
		margin: 0 10px;
	}

	.selections {
		flex: none;
		display: flex;

		> div {
			flex: none;
			margin: 0 10px 0 0;

			&:first-child {
				margin-left: 10px;
			}

			&.dropdown, &.textfield {
				width: 200px;
			}

			&.dropdown.tiers {
				width: 65px;
			}
		}
	}

	.values {
		flex: none;
		display: flex;

		> div {
			height: 32px;
			width: 32px;
			margin-right: 8px;
			border-width: 2px;
			border-style: solid;
			font: 500 12px/28px Alegreya Sans SC;
			text-align: center;
		}

		.sr {
			font-size: 15px;
			color: $color1;
		}

		.ic {
			margin-left: 4px;
			color: $color2;
		}

		.sr, .ic, .cost {
			border-color: $color12;
			border-width: 1px;
			margin-right: 12px;
			line-height: 30px;
		}

		.check {
			border-color: $color12;
		}
	}

	.btns {
		flex: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.btn {
			flex: none;
			// background: transparent;

			// &:hover {
			// 	background: transparent;
			// }

			// border: none;

			// &:not(:first-child) {
			// 	margin-left: 4px;
			// }
		}
	}
}
