.textfield {
	width: 280px;
	overflow: hidden;
	margin: 10px 0;
	position: relative;
	font: 500 13px/30px "Alegreya Sans";

	.textfield-hint {
		width: 100%;
		height: 32px;
		padding: 1px 12px;
		pointer-events: none;
		position: absolute;
		color: $c2;
		margin-top: -32px;

		&.hide {
			visibility: hidden;
		}
	}

	input, textarea {
		width: 100%;
		height: 32px;
		border: 1px solid $c2;
		padding: 0 11px;
		margin: 0;
		color: $c3;
		font: 500 13px/30px Alegreya Sans;
		display: block;
		outline: 0 none;
		background: none;

		&:hover, &:focus, &:active {
			color: $c3;
			border-color: $c3;

			+ .textfield-hint {
				color: $c3;
			}
		}
	}

	&.fullWidth {
		width: auto;
	}

	&.disabled {
		pointer-events: none;

		.textfield-hint {
			color: $c1t;
		}

		label {
			color: $c1t;
		}

		input, textarea {
			border-color: $c1t;
			color: $c1t;
		}
	}

	&.invalid:not(.disabled) {
		label {
			color: $unrecommended1;
		}

		input, textarea {
			border: 1px solid $unrecommended2;
			color: $unrecommended1;
		}
	}

//	hr {
//		width: 100%;
//		height: 0px;
//		border: 0 none;
//		margin: 0;
//
//		&.default {
//			border-bottom: 1px solid #182424;
//		}
//
//		&.accent {
//			border-bottom: 2px solid $highlight;
//			transform: scaleX(0);
//			margin-top: -2px;
//			@include defaultEasing (all);
//		}
//	}

//	&.focused {
//		hr.accent {
//			transform: scaleX(1);
//		}
//	}
}

.theme-light .textfield {
	input, textarea {
		color: $c7;

		&:hover, &:focus, &:active {
			color: $c7;
			border-color: $c7;

			+ .textfield-hint {
				color: $c7;
			}
		}
	}

	// &.invalid:not(.disabled) {
	// 	label {
	// 		color: $unrecommended1;
	// 	}

	// 	input, textarea {
	// 		border: 1px solid $unrecommended2;
	// 		color: $unrecommended1;
	// 	}
	// }
}
