.tooltip-wrapper {
	z-index: 1;

	> .overlay {
		z-index: 2000;
	}
}

.tooltip-small {
	padding: 6px;
	font: 500 12px Alegreya Sans;
	color: var(--text-color);

	&.overlay-top::after, &.overlay-bottom::before {
		height: 6px;
		width: 6px;
		left: calc(50% - 4px);
	}

	&.overlay-top::after {
		bottom: -4.5px;
	}

	&.overlay-bottom::before {
		top: -4.5px;
	}
}
