#sheets .sheet-wrapper .sheet.talents {
	position: relative;
	
	.inline-table {

		thead > tr > td:first-child > span {
			padding-left: 5px;
		}

		tbody {
			font-size: 9px;
		}

		h3 {
			line-height: inherit;
			display: inline-block;
		}

		tr.specs {
			font-style: italic;

			td {
				padding-left: 30px !important;
			}
		}

		td {
			height: 18px;
			line-height: 18px;

			&.se {
				width: 14px;

				div {
					@include size(8px);
					border: 1px solid black;
					border-radius: 5px;
				}
			}

			&.name {
				text-transform: none;

				span:last-child {
					float: right;
					padding-right: 15px;
				}
			}

			&.skt {
				width: 18px;
			}

			&.be {
				width: 30px;
			}

			&.at, &.pa {
				width: 24px;
			}

			&.taw {
				width: 40px;
			}
		}
	}

	.skill-categories {
		margin-top: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		height: calc(100% - 40px);
		width: calc(100% + 20px);

		> * {
			margin: 20px 0 0 !important;
			width: 50%;
			padding-right: 20px;
			padding-bottom: 40px;
			border-spacing: 0;
		}

		> div {
			margin-top: 20px;

			> h3 {
				line-height: 18px;
			}
		}
	}

	.left {
		float: left;
		padding-right: 10px;

		> table:nth-child(2) {
			flex: 0.2;
		}
	}

	.right {
		float: right;
		padding-left: 10px;

		> table:last-child {
			flex: none;
		}
	}
}
