#item-editor {
	.modal-container {
		// width: 820px;
		width: 400px;
		// height: 250px;
		// height: 740px;

		.modal-content-inner {
			display: flex;
			flex-direction: column;

			> div {
				display: flex;
				flex-direction: column;

				> div.row {
					display: flex;
					margin-top: 10px;
					align-items: flex-end;

					&:first-child {
						margin-top: 0;
					}

					> div:not(:first-child) {
						margin-left: 20px;
					}

					> div, > div.container > div {
						flex: 1 1 0;
						margin: 0;
					}

					div {
						&.textfield, &.dropdown {
							width: auto;
						}
					}

					div.container {
						position: relative;
						height: 50px;
						display: flex;
						align-items: flex-end;
						flex: none;

						> label {
							position: absolute;

							+ div:nth-child(2) {
								margin-left: 0;
							}
						}

						> div:not(:first-child)  {
							margin-left: 10px;
						}
					}

					> div {
						&.number, &.btn {
							flex: none;
						}

						&.number {
							width: 60px;
						}

						&.btn {
							margin-left: 10px;
						}

						&.where {
							flex-grow: 2;
						}
					}

					> div.container > div {
						&.ddn, &.dds, &.df, &.at, &.pa, &.rb1, &.rb2, &.rb3, &.pro, &.enc {
							flex: none;
						}

						&.dds {
							width: 65px;
						}

						&.ddn, &.df, &.at, &.pa, &.rb1, &.rb2, &.rb3, &.pro, &.enc {
							width: 40px;

							input {
								text-align: center;
							}
						}
					}
				}
			}

			hr {
				margin: 15px 0 5px;
				border: none;
				height: 1px;
				background: $color9;

				&:first-child {
					margin-top: 5px;
				}
			}
		}
	}
}