#home {
	&::before {
		position: absolute;
		@include calc(width, "100% - 70px");
		height: 1px;
		content: "";
		background: $color10;
		// background: #3a322b;
		// background: #1f282d;
		top: $titlebar-height;
		left: 35px;
	}
}

#home-overview .scroll-inner {
	padding-top: 20px;

	h2 {
		font-size: 32px;
		line-height: 88px;
		letter-spacing: 0.075em;
		display: flex;
	}

	.scriptorium {
		background: url("images/scriptorium.png") center/contain no-repeat;
		width: 200px;
		height: 100px;
		margin-right: 20px;
	}
}
