h1, h2, h3, h4, h5, h6 {
	text-align: left;
	text-transform: none;
	padding: 0;
	color: var(--headings-color);
	font: bold 18px/28px Alegreya;
	margin: 20px 0 0;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 28px;
	line-height: 38px;
	margin: 40px 0 10px;
}

h2 {
	text-transform: uppercase;
	margin: 20px 0 5px;
}

h3 {
	font-size: 16px;
}

h4 {
	font: bold 14px/22px Alegreya;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}

span.name--spell,
span.name--chant {
	font-family: "Alegreya Sans SC";
}
