@import "Variables";

@import "Fonts";
@import "BasicText";

* {
	box-sizing: border-box;
	-ms-overflow-style: none;

	&:not(input):not(textarea) {
		-moz-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

a {
	color: var(--link);

	&:hover {
		color: var(--link-hover);
	}
}

p {
	&:first-child {
		margin: 0;
	}

	margin: 10px 0 0;

	&.featured {
		font-weight: 500;
		color: var(--headings-color);
	}
}

.default-1-1 {
	width: 100%;
}

.flex {
	display: flex;
}
.hide {
	display: none !important;
}
.d-block {
	display: block;
}

%label {
	label {
		color: #a19b8f;
		letter-spacing: 0.05em;
		display: block;
		font: 500 12px/1 Alegreya Sans;
		padding-bottom: 6px;
	}
}

.smallcaps {
	font: bold 13px/1 Alegreya SC;
	text-transform: uppercase;
	color: var(--headings-color);
}

@import "App/Views/Universal/Aside";
@import "App/Views/Universal/Avatar";
@import "App/Views/Universal/AvatarChange";
@import "App/Views/Universal/AvatarWrapper";
@import "App/Views/Universal/BorderButton";
@import "App/Views/Universal/Box";
@import "App/Views/Universal/Button";
@import "App/Views/Universal/Checkbox";
@import "App/Views/Universal/Dialog";
@import "App/Views/Universal/Dropdown";
@import "App/Views/Universal/EditText";
@import "App/Views/Universal/ErrorMessage";
@import "App/Views/Universal/Hr";
@import "App/Views/Universal/IconButton";
@import "App/Views/Universal/Label";
@import "App/Views/Universal/LabelBox";
@import "App/Views/Universal/List";
@import "App/Views/Universal/ListHeader";
@import "App/Views/Universal/Loader";
@import "App/Views/Universal/MainContent";
@import "App/Views/Universal/NumberBox";
@import "App/Views/Universal/Options";
@import "App/Views/Universal/Overlay";
@import "App/Views/Universal/Page";
@import "App/Views/Universal/Plain";
@import "App/Views/Universal/ProgressBar";
@import "App/Views/Universal/RadioButton";
@import "App/Views/Universal/RecommendedReference";
@import "App/Views/Universal/Scroll";
@import "App/Views/Universal/SegmentedControls";
@import "App/Views/Universal/Slidein";
@import "App/Views/Universal/Slider";
@import "App/Views/Universal/TextField";
@import "App/Views/Universal/InputButtonGroup";
@import "App/Views/Universal/TitleBar";
@import "App/Views/Universal/TooltipToggle";
@import "App/Views/Universal/VerticalList";

@import "App/Views/App";
@import "App/Views/Router/Router";
@import "App/Views/About/About";
@import "App/Views/Attributes/Attribute";
@import "App/Views/DisAdvantages/DisAdvantages";
@import "App/Views/Downloader/Downloader";
@import "App/Views/Heroes/Herolist";
@import "App/Views/Equipment/Belongings";
@import "App/Views/InGame/Master";
@import "App/Views/InGame/InGame";
@import "App/Views/InGame/InGameControls";
@import "App/Views/InGame/InGameTableCenter";
@import "App/Views/InGame/InGameTableHealth";
@import "App/Views/InGame/InGameTableIni";
@import "App/Views/InGame/InGameTableLeft";
@import "App/Views/InGame/InGameTableRight";
@import "App/Views/InlineWiki/WikiInfo";
@import "App/Views/NavBar/NavigationBar";
@import "App/Views/NavBar/NavigationBarSubTabs";
@import "App/Views/Pact/Pact";
@import "App/Views/Pets/Pets";
@import "App/Views/Profile/Profile";
@import "App/Views/RCPOptionSelections/RCPOptionSelections";
@import "App/Views/Rules/Rules";
@import "App/Views/Sheets/CombatSheet/CombatSheet";
@import "App/Views/Sheets/BelongingsSheet/BelongingsSheet";
@import "App/Views/Sheets/MainSheet/MainSheet";
@import "App/Views/Sheets/RulesSheet/RulesSheet";
@import "App/Views/Sheets/Sheets";
@import "App/Views/Sheets/SpellsLiturgiesSheet";
@import "App/Views/Sheets/SkillsSheet/SkillsSheet";
@import "App/Views/Skills/Skills";
@import "App/Views/Wiki/Wiki";

@import "Print";
