@import "../css/bourbon/bourbon";
@import "../css/helpers/helpers";
@import "Variables";

@import "Fonts";
@import "Headings";

* {
	box-sizing: border-box;
	-ms-overflow-style: none;

	&:not(input):not(textarea) {
		-moz-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

a {
	color: $link-color1;

	&:hover {
		color: $link-color2;
	}
}

p {
	&:first-child {
		margin: 0;
	}

	margin: 10px 0 0;

	&.featured {
		font-weight: 500;
		color: $color1;
	}
}

.default-1-1 {
	width: 100%;
}

@import "components/_Components";
@import "views/_Views";
@import "Print";
