@import "bourbon/bourbon";
@import "Variables";

@import "Fonts";
@import "Headings";

* {
	box-sizing: border-box;
	-ms-overflow-style: none;

	&:not(input):not(textarea) {
		-moz-user-select: none;
		-o-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

a {
	color: $link-color1;

	&:hover {
		color: $link-color2;
	}
}

p {
	&:first-child {
		margin: 0;
	}

	margin: 10px 0 0;

	&.featured {
		font-weight: 500;
		color: var(--headings-color);
	}
}

.default-1-1 {
	width: 100%;
}

.flex {
	display: flex;
}

%label {
	label {
		color: #a19b8f;
		letter-spacing: 0.05em;
		display: block;
		font: 500 12px/1 Alegreya Sans;
		padding-bottom: 6px;
	}
}

.smallcaps {
	font: bold 13px/1 Alegreya SC;
	text-transform: uppercase;
	color: var(--headings-color);
}

@import "components/Aside";
@import "components/Avatar";
@import "components/AvatarChange";
@import "components/AvatarWrapper";
@import "components/BorderButton";
@import "components/Box";
@import "components/Button";
@import "components/Checkbox";
@import "components/Dialog";
@import "components/Dropdown";
@import "components/EditText";
@import "components/ErrorMessage";
@import "components/Hr";
@import "components/IconButton";
@import "components/Label";
@import "components/LabelBox";
@import "components/List";
@import "components/ListHeader";
@import "components/Loader";
@import "components/MainContent";
@import "components/NumberBox";
@import "components/Options";
@import "components/Overlay";
@import "components/Page";
@import "components/Plain";
@import "components/ProgressBar";
@import "components/RadioButton";
@import "components/RecommendedReference";
@import "components/Scroll";
@import "components/SegmentedControls";
@import "components/Slidein";
@import "components/Slider";
@import "components/TextField";
@import "components/InputButtonGroup";
@import "components/TitleBar";
@import "components/TooltipToggle";
@import "components/VerticalList";

@import "views/Router";
@import "views/Route";
@import "views/about/About";
@import "views/attributes/Attribute";
@import "views/disadv/DisAdvantages";
@import "views/downloader/Downloader";
@import "views/herolist/Herolist";
@import "views/belongings/Belongings";
@import "views/belongings/Pets";
@import "views/master/Master";
@import "views/master/InGame";
@import "views/master/InGameControls";
@import "views/master/InGameTableCenter";
@import "views/master/InGameTableHealth";
@import "views/master/InGameTableIni";
@import "views/master/InGameTableLeft";
@import "views/master/InGameTableRight";
@import "views/navigationbar/NavigationBar";
@import "views/navigationbar/NavigationBarSubTabs";
@import "views/pact/Pact";
@import "views/profile/Profile";
@import "views/profile/CombatSheet";
@import "views/profile/BelongingsSheet";
@import "views/profile/MainSheet";
@import "views/profile/OptionalRules";
@import "views/profile/Sheets";
@import "views/profile/SpellsLiturgiesSheet";
@import "views/profile/SkillsSheet";
@import "views/rcp/RCP";
@import "views/skills/Skills";
@import "views/wiki/Wiki";
@import "views/wiki/WikiInfo";

@import "Print";
