@page {
	size: 210mm 297mm;
	margin: 0;
}

@media only print {
	html, body, #bodywrapper, #body, section {
		background: none;
	}

	html, body, #bodywrapper, #body, .page {
		overflow: auto;
		@include size(auto);
	}

	#body {
		display: block;
		border: none;
		background: white;
	}

	.titlebar, .navbar, .subtabs {
		display: none;
	}

	section {
		padding: 0;
		display: block;
	}

	.page {
		padding: 0;
		flex: unset;
		display: block;

		.sheet-wrapper {
			margin: 0;
		}

		.sheet-options, .options, .print-document {
			display: none;
		}
	}

	.scroll.sheet-wrapper {
		overflow: auto !important;
		flex: unset;

		.scroll-view {
			overflow: auto !important;
			height: auto !important;
			width: auto !important;
			position: relative !important;
			margin: 0 !important;
		}

		.track {
			display: none;
		}
	}

	.scroll.sheet-wrapper .scroll-inner {
		padding: 0;

		.sheet {
			margin: 0;
			height: 296mm;
			-webkit-print-color-adjust: exact;

			&:not(:last-child) {
				page-break-after: always;
			}

			&:last-child {
				page-break-after: avoid;
			}
		}
	}
}

html.print {
	&, body, #bodywrapper, #body {
		background: none;
	}

	&, body, #bodywrapper, #body, .page {
		overflow: auto;
		@include size(auto);
	}

	#body, section {
		background: none;
	}

	#body {
		display: block;
		border: none;
	}

	.titlebar, .navbar, .subtabs {
		display: none;
	}

	section {
		padding-top: 0;
		display: block;
	}

	.page {
		padding-top: 0;
		flex: unset;
		display: block;

		.sheet-wrapper {
			margin-top: 0;
		}

		.sheet-options, .options, .print-document {
			display: none;
		}
	}

	.scroll.sheet-wrapper {
		overflow: auto !important;
		flex: unset;

		.scroll-view {
			overflow: auto !important;
			height: auto !important;
			width: auto !important;
			position: relative !important;
			margin: 0 !important;
		}

		.track {
			display: none;
		}
	}

	.scroll.sheet-wrapper .scroll-inner {
		padding: 0;

		.sheet {
			margin-top: 0;
			height: 296mm;
			-webkit-print-color-adjust: exact;

			&:not(:last-child) {
				page-break-after: always;
			}

			&:last-child {
				page-break-after: avoid;
			}
		}
	}
}
