@page {
	size: 210mm 297mm;
	margin: 0;
}

@media only print {
	html, body, #bodywrapper, #body {
		background: none;
	}

	html, body, #bodywrapper, #body, .page {
		overflow: auto;
		@include size(auto);
	}

	#body, section {
		background: none;
	}

	#body {
		display: block;
		border: none;
	}

	.titlebar, .subtabs {
		display: none;
	}

	section {
		padding-top: 0;
		display: block;
	}

	.page {
		padding-top: 0;
		flex: unset;
		display: block;

		.sheet-options, .options, .print-document {
			display: none;
		}
	}

	.scroll-sheet-wrapper.scroll.gm-scrollbar-container {
		overflow: auto;
		flex: unset;

		.gm-scroll-view {
			overflow: auto;
			height: auto !important;
			width: auto !important;
		}

		.gm-scrollbar {
			display: none;
		}
	}

	.scroll-inner {
		padding: 0 !important;

		.sheet {
			margin-top: 0 !important;
			height: 296mm !important;
			-webkit-print-color-adjust: exact;

			&:not(:last-child) {
				page-break-after: always;
			}

			&:last-child {
				page-break-after: avoid;
			}
		}
	}
}
