$defaultEase: cubic-bezier(.28,.3,.09,.82);

:root {
	--separator-color: #7a7a7a;
	--separator-color-halftransparent: transparentize(#7a7a7a, .7);
	--separator-color-transparent: transparentize(#7a7a7a, .86);
	--accent-color: #826a3e;
	--accent-color-intense: #5d4517;
	--background-color: #111;
	--background-color-transparent06: transparentize(#111, .4);
	--background-color-transparent08: transparentize(#111, .2);
	--headings-color: #f7f4ed;
	--text-color: #7f7f7f;
	--titlebar-height: 31px;
	--navigationbar-height: 64px;
}

.theme-light {
	--background-color: #f0f0f0;
	--background-color-transparent06: transparentize(#f0f0f0, .4);
	--background-color-transparent08: transparentize(#f0f0f0, .2);
	--headings-color: black;
	--text-color: #3c3c3c;
}

.platform-darwin {
	--titlebar-height: 39px;
}

$link-color1: #0080b9;
$link-color2: #52abd1;

$important1: #fabe0a;
$important2: #c89c3d;
$recommended1: #0acbe6;
$recommended2: #005177;
$unrecommended1: #ff2345;
$unrecommended2: #aa1b32;

$attr1: #aa1b32;
$attr2: #6b4497;
$attr3: #06a341;
$attr4: #3c3c41;
$attr5: #aea000;
$attr6: #005177;
$attr7: #d1c6a4;
$attr8: #ac6000;

$print-border: 0.25mm solid black;

$titlebar-height: 64px;
// $titlebar-height: 76px;

//@mixin defaultEasing($property, $duration: 0.3s) {
@mixin defaultEasing($property, $duration: 0.45s) {
//	@include transition($property $duration cubic-bezier(.28,.3,.09,.82));
	@include transition($property $duration cubic-bezier(.23, 1, .32, 1));
}
