:root {
	--separator-color: #7a7a7a;
	--separator-color-halftransparent: rgba(122, 122, 122, .3);
	--secondary-text-color: rgba(122, 122, 122, .5);
	--disabled-color: rgba(122, 122, 122, .3);
	--separator-color-transparent: rgba(122, 122, 122, .2);
	--selection-color: #79643c;
	--accent-color: #826a3e;
	--accent-color-intense: #5d4517;
	--background-color: #111;
	--background-color-transparent02: rgba(17, 17, 17, 0.2);
	--background-color-transparent04: rgba(17, 17, 17, 0.4);
	--background-color-transparent06: rgba(17, 17, 17, 0.6);
	--background-color-transparent08: rgba(17, 17, 17, 0.8);
	--headings-color: #f7f4ed;
	--text-color: #7f7f7f;
	--titlebar-height: 31px;
	--navigationbar-height: 64px;
	--important-bright-color: #fabe0a;
	--important-dark-color: #c89c3d;
	--common-bright-color: #0acbe6;
	--common-dark-color: #005177;
	--uncommon-bright-color: #ff2345;
	--uncommon-dark-color: #aa1b32;
	--adult-badge: #aa1b33;
	--courage-color: #aa1b32;
	--sagacity-color: #6b4497;
	--intuition-color: #06a341;
	--charisma-color: #3c3c41;
	--dexterity-color: #aea000;
	--agility-color: #005177;
	--constitution-color: #f7f4ed;
  --strength-color: #ac6000;
  --default-ease: cubic-bezier(.23, 1, .32, 1);
  --link: #0080b9;
  --link-hover: #52abd1;

  --print-border: 0.25mm solid black;
}

.theme-light {
	--selection-color: #c2ad88;
	--accent-color-intense: #b6a68a;
	--background-color: #f0f0f0;
	--background-color-transparent02: rgba(240, 240, 240, 0.2);
	--background-color-transparent04: rgba(240, 240, 240, 0.4);
	--background-color-transparent06: rgba(240, 240, 240, 0.6);
	--background-color-transparent08: rgba(240, 240, 240, 0.8);
	--headings-color: black;
	--text-color: #3c3c3c;
	--important-bright-color: #cac158;
	--important-dark-color: #cac158;
	--common-bright-color: #5398bb;
	--common-dark-color: #5398bb;
	--uncommon-bright-color: #c54747;
	--uncommon-dark-color: #c54747;
	--courage-color: #c54747;
	--sagacity-color: #a85bd4;
	--intuition-color: #339b5b;
	--charisma-color: black;
	--dexterity-color: #cac158;
	--agility-color: #5398bb;
	--constitution-color: white;
	--strength-color: #c28e46;
	// --courage-color: #d00000;
	// --sagacity-color: #8100ca;
	// --intuition-color: #00ba4a;
	// --charisma-color: black;
	// --dexterity-color: #daca00;
	// --agility-color: #007eca;
	// --constitution-color: white;
	// --strength-color: #ea8c00;
}

.platform-darwin {
	--titlebar-height: 39px;
}
