#skills {
	// background-image: url("images/backgroundTalents.jpg");
}

#talents {
	tr {
		@extend %tr-typ;
		@extend %tr-untyp;
	}
}

#spells, #liturgies {
	.list-item {
		.values {
			width: 252px;
		}

		.property, .aspect {
			margin-left: 4px;
			margin-right: 12px;
		}

		.fill {
			background-color: $color12;

			&:first-child {
				margin-right: 12px;
			}

			&:nth-child(4) {
				margin-right: 8px;
			}
		}
	}

	.slidein .list-item .values {
		width: 208px;
	}
}

#specialabilities {
	tbody {
		tr {
			@extend %large-tr;

			td.ap:last-child {
				padding-right: 11px;
			}
		}
	}
}

@import "SkillInfo";
