%label {
	label {
		color: #a19b8f;
		letter-spacing: 0.05em;
		display: block;
		font: 500 12px/1 Alegreya Sans;
		padding-bottom: 6px;
	}
}

@import "Avatar";
@import "AvatarWrapper";
@import "BorderButton";
@import "Box";
@import "Button";
@import "Checkbox";
@import "Dialog";
@import "Dropdown";
@import "IconButton";
@import "LabelBox";
@import "Loader";
@import "NumberBox";
@import "Plain";
@import "RadioButton";
@import "Scroll";
@import "Slidein";
@import "Slider";
@import "SubTabs";
@import "Table";
@import "TextField";
@import "InputButtonGroup";
@import "titlebar/TitleBar";
@import "ToolBar";
@import "VerticalList";