.labelbox {
	display: flex;
	flex-direction: row;
	align-items: center;

	.box {
		flex: none;
		height: 1cm;
		line-height: 1cm;
	}

	label {
		flex: 1 1 100%;
		font: bold 11px Alegreya;
		color: black;
		letter-spacing: 0;
		padding-bottom: 0;
	}
}