table {
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-border-horizontal-spacing: 0px; 
	-webkit-border-vertical-spacing: 0px;
	table-layout: auto;
	width: 100%;
	white-space: nowrap;
}

table.list {
	td {
		padding: 5px 5px 5px 11px;

		&.name {
			width: 100%;
		}

		&.name, &.fw {
			color: #f0e6d2;
		}
	}

	thead {
		font: bold 13px/22px Alegreya SC;

		td {
			border-bottom: 1px solid transparentize(white, .925);
		}
	}

	tbody {
		tr {
			&:not(:last-child) td {
				border-bottom: 1px solid transparentize(white, .925);
			}

			&:hover {
				background: transparentize(white, .975);
			}
		}

		td {
			height: 36px;
			
			&.name h2, &.fw {
				font: 500 15px/15px Alegreya Sans;
				text-transform: none;
				color: #f0e6d2;
			}

			&.check, &.skt {
				font: 13px/13px Alegreya SC;
			}

			&.inc {
				font-weight: 500;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				.btn {
					height: 26px;
					padding: 0 14px 3px;
					min-width: auto;
					font-size: 16px;
					flex: none;

					&:nth-child(2) {
						margin-left: 4px;
					}
				}
			}
		}
	}

	&.large-list tbody td {
		height: 42px;

		&.name {
			> div {
				display: flex;
				align-items: center;

				> h2, > div {
					flex: none;
					margin: 0;
				}

				> div {
					margin-left: 14px;

					&.tiers {
						width: 65px;
					}
				}
			}
		}
	}
}
