.btn {
  height: auto;
  min-height: 32px;
  color: var(--accent-color);
  text-align: center;
  overflow: hidden;
  border: 1px solid var(--accent-color);
  background: none;
  margin: 0;

  &.btn--text {
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 13px/19px "Alegreya SC";
    letter-spacing: 0.1em;
  }

  &:hover {
    border-color: var(--headings-color);
    color: var(--headings-color);
  }

  &:active {
    border-color: var(--accent-color-intense);
    color: var(--accent-color-intense);
  }

  &:disabled {
    border-color: var(--separator-color-20);
    color: var(--separator-color-30);
    pointer-events: none;

    &:hover {
      border-color: var(--separator-color-20);
      color: var(--separator-color-30);
    }
  }

  &.btn--active {
    background: var(--accent-color);
    color: var(--background-color);
    pointer-events: none;

    &:hover {
      border-color: var(--accent-color);
    }
  }

  &.btn--auto-width {
    width: auto;
    min-width: auto;
  }

  &.btn--flat {
    border: none;
  }

  &.btn--full-width {
    display: block;
  }
}
