.scroll {
  position: relative;
  padding: 3px;
  width: 100%;
  height: 100%;

  > .scroll-area {
    overflow: auto;
    height: 100%;
    width: 100%;

    &.scroll-area--stable {
      scrollbar-gutter: stable;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: transparent;
      border: 3px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid var(--separator-color-20);
      background: transparent;

      &:active {
        border-color: var(--accent-color-intense);
        background: var(--accent-color-intense);
      }
    }

    &:hover::-webkit-scrollbar-thumb {
      border-color: var(--accent-color);

      &:hover {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
      }

      &:active {
        border-color: var(--accent-color-intense);
        background-color: var(--accent-color-intense);
      }
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    :is(main, .main-content) > & > .scroll-inner {
      padding: 21px 21px 21px 0;
    }
  }
}
